.desi .title {
  margin: 0;
  background-color: #4170df;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}
.desi h3 {
  margin: 0;
  padding: 15px 0 15px 0;
  color: white;
}
.qa{
  color:black
}
